* {
    box-sizing: border-box;
    font-size: 12px;
    font-family: Verdana,sans-serif;
    font-family: cursive;
    outline:none;
    user-select: none;
}

body {
    width:240px;
    height:30px;
}

label {
    vertical-align: text-bottom;
}